.wrapper {
    display: flex;
    position: fixed;
}

.title {
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    display: flex;
    align-self: center;
}

.bar {
    background: linear-gradient(to right, #42b9f4 0%, #2989d8 34%, #2989d8 68%, #207cca 78%, #7db9e8 100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    position: fixed;
    flex-direction: row;
    display: flex;
    align-items: center;
    z-index: 1;
    float:top;
    justify-content: space-between;
}
.space {
    width: 15%;
}

.back-button {
    margin: 10px;
    width: 15%;
    background-color: transparent;
    border-style: hidden
}

.back-button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.ava {
    width: 10em;
    border-radius: 50%;
    z-index: 2;
    position: relative;
    align-self: center;
    display: block;
    margin: 0 auto;
    top: 5em;
}

.background_ava {
    display: block;
    top:10%;
    left: 0;
    height: 10em;
    width: 100%;
    background-image: url(http://www.bluelagoon.com/images/new-node/blue-lagoon-nature-3.jpg);
    background-size: cover;
    z-index: 1;
    float:top;
    position: fixed;
}