body{
    width: auto;
    margin: -1px;
    padding: 0px;
}

.bg_body{
    background-color: #3A6377;
}

.title {
    position:absolute;
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-weight: bold;
    left: 120px;
    margin: 20px;
}

.bar {
    background: linear-gradient(to right, #42b9f4 0%, #2989d8 34%, #2989d8 68%, #207cca 78%, #7db9e8 100%);
    width: 100%;
    white-space: nowrap;
    height: 80px;
}

.back-button {
    text-decoration: none;
    opacity:0.7;
    margin: 20px;
    float: left;
}

.back-button:hover {
    opacity:1;
}

.image_background{
    object-fit: cover;
    display: block;
    width: 100%;
    height: 180px;
}

.image_background_home{
    object-fit: cover;
    display: block;
    width: 100%;
    height: 380px;
}

.ava {
    width: 200px;
    position: absolute;
	border-radius: 50%;
	z-index: 2;
    display: block;
    margin-left: 120px;
    border: 2px solid #ddd;
    padding: 5px;
    background-color: #ffffff;
    top: 120px;
}

.ava_home {
    width: 200px;
	border-radius: 50%;
    display: block;
    border: 2px solid #ddd;
    padding: 5px;
    background-color: #ffffff;
    margin-left: 50px;
    margin-right: 50px;
}

.ava_trans{
    -webkit-transition: width 0.2s, height 0.2s; /* For Safari 3.1 to 6.0 */
    transition: width 0.2s, height 0.2s;
}

.ava_trans:hover{
    width: 230px;
}

.div_background_home{
    width: 100%;
    height: 380px;
    display: grid;
    place-items: center center;
    position: absolute;
    margin-top: -440px; 
}


.list_ava {
    position: relative;
    margin-top: -100px;
    display: grid;
    place-items: center center;
}

#hr1{
    width: 250px;
    display: block;
    margin-top: -140px;
}
#hr2{
    width: 150px;
    display: block;
    margin-top: -120px;
}


#title-home{
    display: block;
    font-size: 120px;
    color:#ffffff;
    max-width: 100%;
}

#info-name{
    display: block;
    position: absolute;
    font-size: 25px;
    color:#ffffff;
    top: 180px;
    left:350px;
    max-width: 100%;
}

#info-name-home{
    display: block;
    font-size: 25px;
    color:#ffffff;
    max-width: 100%;
    text-align: center;
}

#float-left{
    float:left;
}

#info-mssv{
    display: block;
    position: absolute;
    font-size: 20px;
    color:#ffffff;
    top: 220px;
    left:350px;
}

.hide_info{
    font-size: 0;
}

ul{
    list-style: none;
}

.info_logo {
    width: 1em;
    margin-right: 30px;
    align-self: center;
    display: inline-block;
}

.info_container_home {
    position: relative;
    width:100%;
    height:500px;
}

.info_container {
    position: relative;
    height: fit-content;
    left: 0;
    width: 80%;
    margin: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10px;
    max-width: 100%;
}

.social{
    display: block;
    position: relative;
    margin-left: 200px;
    padding-top: 40px;
}

.info_list {
    position: relative;
    text-align: justify;
    display: block;
    margin-top:10px;
    margin-left: 200px;
    padding: 0px;
    padding-bottom: 10px;
}

.info p{
    font-size: 20px;
    display: inline-block;
    word-wrap: break-word;
}

.logo {
    width: 7em;
    position:relative;
    margin-top:10px;
    float: right;
}

.container {
    width: 100%;
}   

@media (max-width: 700px) {

    .bar{
        width: 800px;
    }

    .image_background{
        object-fit: cover;
        display: block;
        width: 860px;
        height: 180px;
    }

    .image_background_home{
        object-fit: cover;
        display: block;
        width: 860px;
        height: 480px;
    }

    .container{
        width: 860px;
    }

    .info_container{
        min-width: 100%;    
    }

    .info_list, .social {
        margin-left: 320px;
    }
}

@media (max-width: 580px) {
    #info-name{
        top: 150px;
        left:350px;
    }
}